mkdir OCR_Equation_Project
cd OCR_Equation_Project

python -m venv venv

venv\Scripts\activate

python -m pip install --upgrade pip

pip install opencv-python
pip install pytesseract
pip install pillow
pip install numpy
pip install tensorflow
pip install nltk
pip install opencv-python
pip install pix2tex
pip install transformers